.Main {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);  
    text-align: center;
  
}

.btn {
    background-color: #ffffff;
    border-color: #C8FFE0;
    color: black;
}

.btn:not([disabled]):hover {
    background-color: #C8FFE0; 
    color: #B4DBDC;
}

.btn-link{
    border-color: transparent;
    background-color: transparent;
} 

.btn-link:hover {
    border-color: transparent;
    background-color: transparent !important;
}

.btn:disabled {
    border-color: lightgray;
    filter: grayscale(0.7);
}

.custom {
    margin-top: 10px;
    width: 100px !important;
}


.ballon{
    position: absolute;
    top: 0;
    right: 50px;
    height: 80%;
    z-index: -1;
}

.logo{
    height: 80px;
    object-fit: contain;
}

.phone_view{
    justify-content: center;
}

.navbar-brand{
    width: 400px;
}

.List{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 400px; 
    overflow-y: scroll;
    overflow-x: hidden;
}

.ListInstructions{
    font-size: x-small;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.container--full {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbarText button {
    color: rgb(175, 175, 175);
}
.navbarText {
    border-top: dashed lightgray 1px;
}
@media (min-width: 992px) {     
    .navbarText{
        border: none;
    }
}

@media (min-width: 1200px) {
    .logo {
        height: 100px;
    }
}

.banner {
    height: 226px;
    width: 365px;
    margin: 20px;
    object-fit: contain;
}

  @media (max-width: 850px) {
    .ballon {
      display: none;
    }
    .navbar-brand{
        width: 125px;
    }
    .logo {
        height: 60px;
    }
    .banner {
        height: 180px;
    }
    .prevent_error{
         margin-top : 100px
    }
    .phone_view{
        flex-direction: column;
        align-items: center;
    }
  }

  @media (max-height: 600px) {
      .navbar{
          height: 50px;
      }
      
  }